NODE_ENV=development
DATABASE_URL=postgresql://user:pass@localhost:5432/bybit_p2p
BETTER_AUTH_SECRET=tu_secret_super_secreto_aqui
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Bybit P2P API
BYBIT_API_KEY=tu_api_key_aqui
BYBIT_API_SECRET=tu_api_secret_aqui
BYBIT_TESTNET=false
MONITOR_INTERVAL=300000
